# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

Using the iterative data analysis workflow, we break down the main problem into several sub problems:

### Main Problem - Setting Expectations

**Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?**

**Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?**

**Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?**

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

---

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

## Main Problem - Collecting Information

### Sub Problem 1 - Setting Expectations

**How to aggregate the  `amount_spent` for unique customers?**

### Sub Probme 1 - Collecting Information

In [3]:
# enter your code
sub_prob_1=orders.groupby('CustomerID').agg({'amount_spent':'sum'}).reset_index()
display(sub_prob_1.head(10))
print('Success')

   CustomerID  amount_spent
0       12346      77183.60
1       12347       4310.00
2       12348       1797.24
3       12349       1757.55
4       12350        334.40
5       12352       2506.04
6       12353         89.00
7       12354       1079.40
8       12355        459.40
9       12356       2811.43

Success

### Sub Probme 1 - Reacting to Data / Revising Expectations

---

1. *Test your output.*
1. *Revise solution or declare success for the sub problem.*

---

### Sub Problem 2 - Setting Expectations

**How to select customers whose aggregated `amount_spent` is in a given quantile range?**

### Sub Problem 2 - Collecting information

In [4]:
# enter your code
quantile_val=0.95 # Quantile 95%
val=sub_prob_1.quantile(quantile_val)[1]
sub_prob_2=sub_prob_1[sub_prob_1['amount_spent']>=val]
print('Quantile %s value:'%(quantile_val*100),val)
print('Number of Customers: ',len(sub_prob_2))
display(sub_prob_2.head(10))
print('Success')

Quantile 95.0 value: 5840.181999999983
Number of Customers:  217

    CustomerID  amount_spent
0        12346      77183.60
10       12357       6207.67
12       12359       6372.58
50       12409      11072.67
55       12415     124914.53
66       12428       7956.46
69       12431       6487.45
71       12433      13375.87
73       12435       7829.89
86       12451       9035.52

Success

### Sub Problem 2 - Reacting to Data / Revising Expectations

---

1. *Test your output.*
1. *Revise solution or declare success for the sub problem.*

---

### Sub Problem 3 - Setting Expectations

How to label selected customers as "VIP" or "Preferred"?

### Sub Problem 3 - Collecting Information

In [5]:
# enter your code
# All customers over 95% quantile will be tagged as VIP. Customers below 95% quantile will be tagged as BoS
# We have already defined the value of 95% quantile
# Preferred will be defined for those whose amount spent are between 95% quantile and 75% quantile
sub_prob_3=sub_prob_1.copy()
sub_prob_3['Status']=np.where(sub_prob_3['amount_spent']>=val,'VIP','Normal')
sub_prob_3.loc[(sub_prob_3['amount_spent']<val)&(sub_prob_3['amount_spent']>sub_prob_1.quantile(0.75)[1]),'Status']='Preferred'
print('Quantile %s value:'%(quantile_val*100),val)
display(sub_prob_3.head(10))
print('Success')

Quantile 95.0 value: 5840.181999999983

   CustomerID  amount_spent     Status
0       12346      77183.60        VIP
1       12347       4310.00  Preferred
2       12348       1797.24  Preferred
3       12349       1757.55  Preferred
4       12350        334.40     Normal
5       12352       2506.04  Preferred
6       12353         89.00     Normal
7       12354       1079.40     Normal
8       12355        459.40     Normal
9       12356       2811.43  Preferred

Success

### Sub Problem 3 - Reacting to Data / Revising Expectations

---

1. *Test your output.*
1. *Revise solution or declare success for the sub problem.*

---

Now we can wrap up for the main problem solution:

## Main Problem - Reacting to Data / Revising Expectations

---

1. *Test your output.*
1. *Revise solution or declare success for the main problem.*

*Hint: Look forward to what you need to do in Q2. In order for you to solve Q2 conveniently, you probably want to create a new column called `customer_label` where you label the selected customers with `VIP` or `Preferred`.*

---

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [6]:
# First I create an array of CustomerID for VIPs
VIPS=sub_prob_3.loc[sub_prob_3['Status']=='VIP']['CustomerID']

# Select the dataframe for those CustomerID that are in VIPS
orders_vips=orders[orders['CustomerID'].isin(VIPS)]

# Group by country and count CustomerID and order it by descending order for Customers count
vips_by_country=orders_vips.groupby('Country')['CustomerID'].nunique().reset_index()
vips_by_country.columns=['Country','Count Customer']
vips_by_country=vips_by_country.sort_values('Count Customer',ascending=False).reset_index(drop=True)
display(vips_by_country.head(10))

# If everything fits, total number of VIPs customers should be equal to the ones obtained in sub_prob_2 or near
print('Total Amount of VIPS for Q2: ',sum(vips_by_country['Count Customer']))
print('Total Amount of VIPS for sub_prob_2: ',len(sub_prob_2))
print('Equal than sub_prob_2?: ',sum(vips_by_country['Count Customer'])==len(sub_prob_2))
print('Near to sub_prob_2?: ',sum(vips_by_country['Count Customer'])/len(sub_prob_2)<1.01)
len(orders_vips)

          Country  Count Customer
0  United Kingdom             177
1         Germany              10
2          France               9
3     Switzerland               3
4           Spain               2
5        Portugal               2
6       Australia               2
7            EIRE               2
8           Japan               2
9         Finland               1

Total Amount of VIPS for Q2:  218
Total Amount of VIPS for sub_prob_2:  217
Equal than sub_prob_2?:  False
Near to sub_prob_2?:  True

104484

Answer to Q3:

In [7]:
# First I create an array of CustomerID for VIPs and Preferred
VIPS_P=sub_prob_3.loc[(sub_prob_3['Status']=='VIP')|(sub_prob_3['Status']=='Preferred')]['CustomerID']

# Select the dataframe for those CustomerID that are in VIPS_P
orders_vips_p=orders[orders['CustomerID'].isin(VIPS_P)]

# Group by country and count CustomerID and order it by descending order for Customers count
vips_by_country_p=orders_vips_p.groupby('Country')['CustomerID'].nunique().reset_index()
vips_by_country_p.columns=['Country','Count Customer']
vips_by_country_p=vips_by_country_p.sort_values('Count Customer',ascending=False).reset_index(drop=True)
display(vips_by_country_p.head(10))

print('Total Amount of VIPS and Preferred for Q3: ',sum(vips_by_country_p['Count Customer']))

          Country  Count Customer
0  United Kingdom             932
1         Germany              39
2          France              29
3         Belgium              12
4     Switzerland               9
5           Spain               9
6        Portugal               7
7          Norway               7
8           Italy               5
9         Finland               5

Total Amount of VIPS and Preferred for Q3:  1091

___